@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --comfort-orange: #FCBE59;
    --comfort-black : rgb(50, 45, 45);
    --comfort-blue: rgb(64, 138, 242);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: none;
}

*::selection {
    background-color: var(--comfort-orange);
}

img {
    width: 20%;
    margin: 1%;
    object-fit: contain;
    border: 3px solid white;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgb(57, 56, 56);
}

h1 {
    text-shadow: 1px 1px 5px black;
}

.background:hover {
    width: 100%;
}

.back{
    position: relative;
    top: .1rem;
    left: .2rem;
    border: 1.5px solid rgb(64, 138, 242);
    border-radius: 3px;
    font-size: 25px;
    color: white;
    padding-right: .5rem;
    padding-left: .4rem;;
    background-color: var(--comfort-blue);
    transition: .2s;
}

.back:hover {
    box-shadow: 1px 1px 5px rgb(74, 142, 238);
}

.back:active {
    display: inline-block;
    transform: scale(.9);
}

img {
    transition: .2s;
}

img:hover{
    box-shadow: 1px 1px 10px white;
    width: 265px;
}

/* Fade-out animation */
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Initial hidden state */
body.fade-out {
    animation: fade-out 0.5s ease-out forwards; /* Adjust duration as needed */
}






