@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 1px 3px rgb(71, 66, 66);
}

*::selection {
    color: white;
    background-color: rgb(241, 24, 241);
}

span {
    color: red;
}

h3 {
    font-size: 35px;
    color: red;

}

h5 {
    position: relative;
    border: 2px solid white;
    padding-top: .1em;
    padding-bottom: .1em;
    border-radius: 5px;
    width: 13em;
    backdrop-filter: blur(25px);
    transition: .3s;
}

h5:hover {
    font-size: 35px;
    background-color: rgb(95, 237, 114);
}

h5:active {
    transform: scale(.9);
}
