:root {
    --comfort-black: rgb(50, 45, 45);
    --comfort-blue: rgb(64, 138, 242);
    --comfort-red: rgba(247, 67, 67, 0.934);
}

* {
    text-decoration: none;
}

lord-icon {
    position: absolute;
    top: 5px;
    left: 20em;
    cursor: cell;
}

.center {
    text-align: center;
    margin: 20px auto;
}

.container {
    position: relative;
    border: 2px solid rgb(78, 75, 75);
    width: 43%;
    top: 1em;
    border-radius: 3px;
}

.container2 {
    position: relative;
    border: 2px solid rgb(255, 255, 255);
    backdrop-filter: blur(40px);
    width: 43%;
    top: 5em;
    border-radius: 3px;
}

.verify {
    font-size: 38px;
}

#back-btn {
    position: relative;
    left: -8em;
    font-size: 45px;
    color: rgb(51, 48, 48);
    transition: .2s;
}

#back-btn:active {
    color: rgb(131, 37, 219);
    transform: scale(0.9);
}

table {
    width: 20%;
    margin: 5px auto;
}


table, th, td {
    border-radius: 3px;
    border: 1px solid black;
}

.icon {
    position: relative;
    bottom: -5px;
    font-size: 27px;
    width: 100%;
    color: rgb(58, 55, 55);
    transition: .3s;
}

.icon:hover {
    font-size: 32px;
}

#verify:hover {
    color: rgb(53, 211, 53);
}

#delete:hover {
    color: rgb(255, 0, 0);
}

#verify:active, #delete:active {
    transform: scale(.9);
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.btn {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.confirmation {
    position: relative;
    font-size: 40px;
    top: 2.2em;
    text-shadow: 1px 1px 5px rgb(50, 45, 45);
}

.confirm {
    text-shadow: 1px 1px 5px rgb(50, 45, 45);
    position: relative;
    font-size: 32px;
    top: 7px;
}

.options {
    position: relative;
    font-size: 28px;
    text-decoration: none;
    background-color: transparent;
    box-shadow: 1px 1px 5px rgb(50, 45, 45);
    text-shadow: 1px 1px 5px rgb(50, 45, 45);
    transition: .3s;
}

#yes {
    position: relative;
    top: 1em;
    left: -2em;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 3px;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
}

#yes:hover {
    background-color: var(--comfort-blue);
    color: white;
    font-size: 32px;
    text-shadow: 1px 1px 5px white;
    box-shadow: 1px 1px 10px white;
}

#no {
    position: relative;
    padding-top: 2px;
    right: -2em;
    bottom: 15px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
    padding-left: 3.5%;
    padding-right: 3.5%;
}

#no:hover {
    background-color: var(--comfort-red);
    color: white;
    font-size: 32px;
    text-shadow: 1px 1px 5px white;
    box-shadow: 1px 1px 10px white;
}

.back{
    position: relative;
    left: .2rem;
    border: 1.5px solid rgb(64, 138, 242);
    border-radius: 3px;
    font-size: 25px;
    color: white;
    padding-right: .5rem;
    padding-left: .4rem;;
    background-color: var(--comfort-blue);
    transition: .3s;
}

.back:hover {
    box-shadow: 1px 1px 5px rgb(74, 142, 238);
}

.back:active {
    display: inline-block;
    transform: scale(.9);
}